<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{mainTitle}}</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="dist/css/styles.css">
</head>
<body>

<!--
    Keep it stuck on the left,
    it will be easier to work with code examples,
    case <pre> will keep code indentation
-->
<div class="reveal">
<div class="slides">
{{> 00-title}}
{{> 01-first-slide}}
{{> 02-code-and-fragments}}
{{> 03-narrow-code}}
</div>
</div>

<script src="dist/scripts.js"></script>
</body>
</html>
